<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="field form-group">
    <%= f.number_field :task_id , class: 'form-control', placeholder: 'Task ID' %>
  </div>
  <div class="field form-group">
    <%= f.text_area :content , class: 'form-control text-dark', placeholder: 'Your comment' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
