<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= form.number_field :project_id , class: 'form-control', placeholder: 'project Id' %>
  </div>

  <div class="field form-group">
    <%= form.text_field :title , class: 'form-control', placeholder: 'title' %>
  </div>

  <div class="field form-group">
    <%= form.text_area :description , class: 'form-control', placeholder: 'description' %>
  </div>

  <div class="field form-group">
    <%= form.datetime_select :deadline_at , class: 'form-control', placeholder: 'deadline' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
