<p>
  <strong>Project:</strong>
  <%= Project.find(@task.project_id).name%>
</p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Status:</strong>
  <% if @task.status == true %>
    Done
    <% else %>
    On Progress
    <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Deadline at:</strong>
  <%= @task.deadline_at %>
</p>

<%= link_to 'Edit', edit_task_path(@task), class: 'btn btn-primary'%>
<%= link_to 'Back', tasks_path , class: 'btn btn-primary' %>

<% if @task.status == false%>
  <div class="btn btn-success ">Finish<% @task.status = true%></div>
<% else %>
  <div class="btn btn-primary ">Back to Progress<% @task.status = false%></div>
<% end %>



