<div class="card text-dark">
  <div class='card-header '><h3><strong>Project Name</h3></strong></div>
  <div class="card-body">
  <h4><%= @project.name %><h4></div>
  <br>
  <div class='card-header '><h3><strong>Description</h3></strong></div>
  <div class="card-body">
  <h4><%= @project.description %><h4></div>
  </div>
  <br>
  <br>
<div class="card text-dark">
  <div class='card-header '>
<h3><strong>Adde User to Project</h3></strong>  </div>
    <div class='card-body'>
    <div class="field form-group"><br>
      <div><%= text_field :email , class: 'input-group-text text', placeholder: 'email' %></div>
      <br>
        <%= link_to 'Add User', projects_path , class: 'btn btn-primary' %>
      <br>
    </div>
  </div>
</div>
<br>
<%= link_to 'Edit Project', edit_project_path(@project) , class: 'btn btn-secondary'%>
<%= link_to 'Back', projects_path , class: 'btn btn-primary' %>
<%= render partial: 'tasks/new' , project: @project %>
<%= render partial: 'tasks/index' , project: @project %>
